<launch>

  <!-- wpr_warehousing_monitor  -->
  <!-- <include file="$(find wpr_warehousing_monitor)/launch/monitor.launch" /> -->
  <!-- <include file="$(find wpr_warehousing_monitor)/launch/wpr_server.launch" /> -->
  <include file="$(find wpr_warehousing_monitor)/launch/rviz_wpr_swarm.launch" />

  <!-- Command center  -->
  <node pkg="wpr_command_center" type="wpr_command_center" name="wpr_command_center" output="screen" required="true"/>

</launch>
